In [3]:
import mysql.connector
from mysql.connector import errorcode
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
cnx = mysql.connector .connect(
    host = 'serverandres.c43rrwosnqfo.us-east-2.rds.amazonaws.com',
    user = 'owen_peng',
    password = 'Peng1234!'
)

In [4]:
cursor = cnx.cursor()

In [5]:
cursor.execute('''USE TVSHOWS''')

In [10]:
cursor.execute('''DESCRIBE TVSHOWS.RATINGS''')
columns_raw = cursor.fetchall()

In [18]:
columns = []
for i in range(0,len(columns_raw)):
    columns.append(columns_raw[i][0])

In [25]:
cursor.execute('''SELECT AVG(all_all_ages), genre FROM TVSHOWS.RATINGS JOIN TVSHOWS.Netflix USING(imdbID) GROUP BY genre''')
all_ages = cursor.fetchall()

['all_all_ages',
 'all_less_than_18',
 'all_18_29',
 'all_30_44',
 'all_older_than_45',
 'male_All_Ages',
 'male_less_than_18',
 'male_18_29',
 'male_30_44',
 'male_older_than_45',
 'female_All_Ages',
 'female_less_than_18',
 'female_18_29',
 'female_30_44',
 'female_older_than_45']

In [24]:
SELECT AVG(all_all_ages), genre FROM TVSHOWS.RATINGS JOIN TVSHOWS.Netflix USING(imdbID) GROUP BY genre

In [51]:
ratings = []
for i in range(0,len(columns)):
    cursor.execute(f'''SELECT AVG({columns[i]}), genre FROM TVSHOWS.RATINGS JOIN TVSHOWS.Netflix USING(imdbID) GROUP BY genre ORDER BY AVG({columns[i]})''')
    ratings.append(cursor.fetchall())

In [68]:
ratings[0]

[(6.8944444921281605, 'Standup'),
 (7.204545411196622, 'Horror'),
 (7.3666666348775225, 'Reality'),
 (7.463636333292181, 'Fantasy'),
 (7.53333338631524, 'Mystery'),
 (7.566101745023566, 'Korean'),
 (7.596078442592247, 'Teen'),
 (7.622222211625841, 'Cult_Classic'),
 (7.668000001907348, 'Anime'),
 (7.697727279229597, 'Science'),
 (7.724999964237213, 'Kids'),
 (7.730555600590176, 'Spanish'),
 (7.7392856393541605, 'British'),
 (7.782926792051734, 'Action'),
 (7.904081665739721, 'Comedy'),
 (7.972973011635445, 'Thriller'),
 (7.995454549789429, 'Crime'),
 (8.045614075242428, 'Romance'),
 (8.247222224871317, 'Drama'),
 (8.277600006103516, 'International'),
 (8.404761882055373, 'Documentary')]

### The Highest rated Genre of all demographics on Netflix

In [65]:
for i in range(0,len(columns)):
    print(columns[i])
    print(ratings[i][-1])

all_all_ages
(8.404761882055373, 'Documentary')
all_less_than_18
(8.766666730244955, 'Documentary')
all_18_29
(8.452380906967889, 'Documentary')
all_30_44
(8.319047609965006, 'Documentary')
all_older_than_45
(8.285714308420816, 'Documentary')
male_All_Ages
(8.31904765537807, 'Documentary')
male_less_than_18
(8.845454562794078, 'Documentary')
male_18_29
(8.409523736862909, 'Documentary')
male_30_44
(8.257142838977632, 'Documentary')
male_older_than_45
(8.219047682625908, 'Documentary')
female_All_Ages
(8.633333342415947, 'Documentary')
female_less_than_18
(8.751612832469325, 'Romance')
female_18_29
(8.539999961853027, 'Documentary')
female_30_44
(8.609523818606423, 'Documentary')
female_older_than_45
(8.349999928474427, 'Documentary')

### Highest Rated Genre among demographics on Hulu

In [60]:
ratingsH = []
for i in range(0,len(columns)):
    cursor.execute(f'''SELECT AVG({columns[i]}), genre FROM TVSHOWS.RATINGS JOIN TVSHOWS.Hulu USING(imdbID) GROUP BY genre ORDER BY AVG({columns[i]})''')
    ratingsH.append(cursor.fetchall())

In [62]:
for i in range(0,len(columns)):
    print(columns[i])
    print(ratingsH[i][-1])

all_all_ages
(7.851079151784774, 'Action')
all_less_than_18
(7.774218775331974, 'Action')
all_18_29
(7.941726619391132, 'Action')
all_30_44
(7.725899300129294, 'Action')
all_older_than_45
(7.371942441240489, 'Action')
male_All_Ages
(7.771942466283016, 'Action')
male_less_than_18
(7.747967481613159, 'Action')
male_18_29
(7.890647483386582, 'Action')
male_30_44
(7.672661867073114, 'Action')
male_older_than_45
(7.341726625566002, 'Action')
female_All_Ages
(7.883453231921299, 'Action')
female_less_than_18
(7.7482758596025665, 'Action')
female_18_29
(7.968345359074983, 'Action')
female_30_44
(7.800719427547866, 'Action')
female_older_than_45
(7.574117677352008, 'Mystery')

### Second Highest Rated on Netflix and Hulu

In [66]:
for i in range(0,len(columns)):
    print(columns[i])
    print(ratings[i][-2])

all_all_ages
(8.277600006103516, 'International')
all_less_than_18
(8.696078450072045, 'Drama')
all_18_29
(8.320161288784396, 'International')
all_30_44
(8.00720000076294, 'International')
all_older_than_45
(7.80428570168359, 'Drama')
male_All_Ages
(8.034400020599366, 'International')
male_less_than_18
(8.700000127156576, 'Cult_Classic')
male_18_29
(8.229268287255511, 'International')
male_30_44
(7.891200031280517, 'International')
male_older_than_45
(7.711111121707493, 'Cult_Classic')
female_All_Ages
(8.284722235467699, 'Drama')
female_less_than_18
(8.674999952316284, 'Documentary')
female_18_29
(8.499999984618157, 'Kids')
female_30_44
(8.217741958556637, 'International')
female_older_than_45
(8.202941207324757, 'Action')

In [67]:
for i in range(0,len(columns)):
    print(columns[i])
    print(ratingsH[i][-2])

all_all_ages
(7.4302564535385525, 'Drama')
all_less_than_18
(7.441538451268123, 'Mystery')
all_18_29
(7.530769236882528, 'Drama')
all_30_44
(7.302564136798566, 'Drama')
all_older_than_45
(7.315294136720545, 'Mystery')
male_All_Ages
(7.261538473700705, 'Comedy')
male_less_than_18
(7.609677422431208, 'Mystery')
male_18_29
(7.406072869474588, 'Comedy')
male_30_44
(7.1801619394588085, 'Comedy')
male_older_than_45
(7.184705896938548, 'Mystery')
female_All_Ages
(7.6266666999230015, 'Drama')
female_less_than_18
(7.427878781520959, 'Drama')
female_18_29
(7.628350557740202, 'Drama')
female_30_44
(7.523195895952048, 'Drama')
female_older_than_45
(7.521538480122884, 'Drama')

### Looking at combined data

In [78]:
ratings = []
for i in range(0,len(columns)):
    cursor.execute(f'''SELECT AVG({columns[i]}), TVSHOWS.Netflix.genre FROM TVSHOWS.RATINGS INNER JOIN TVSHOWS.Hulu USING(imdbID) INNER JOIN TVSHOWS.Netflix USING(imdbID) GROUP BY genre ORDER BY AVG({columns[i]})''')
    ratings.append(cursor.fetchall())

In [82]:
for i in range(0,len(columns)):
    print(columns[i])
    print(ratings[i][-1])

all_all_ages
(9.0, 'Fantasy')
all_less_than_18
(9.199999809265137, 'Mystery')
all_18_29
(9.0, 'Fantasy')
all_30_44
(9.0, 'Fantasy')
all_older_than_45
(9.0, 'Fantasy')
male_All_Ages
(9.0, 'Fantasy')
male_less_than_18
(9.733333269755045, 'Horror')
male_18_29
(9.0, 'Fantasy')
male_30_44
(9.0, 'Fantasy')
male_older_than_45
(9.0, 'Fantasy')
female_All_Ages
(9.0, 'Fantasy')
female_less_than_18
(9.5, 'Mystery')
female_18_29
(9.0, 'Fantasy')
female_30_44
(9.0, 'Fantasy')
female_older_than_45
(9.0, 'Fantasy')

In [84]:
for i in range(0,len(columns)):
    print(columns[i])
    print(ratings[i][-2])

all_all_ages
(8.860000038146973, 'Crime')
all_less_than_18
(9.199999809265137, 'Thriller')
all_18_29
(8.939999771118163, 'Crime')
all_30_44
(8.850000143051147, 'Cult_Classic')
all_older_than_45
(8.625, 'Cult_Classic')
male_All_Ages
(8.860000038146973, 'Crime')
male_less_than_18
(9.125000238418579, 'Thriller')
male_18_29
(8.939999771118163, 'Crime')
male_30_44
(8.850000143051147, 'Cult_Classic')
male_older_than_45
(8.625, 'Cult_Classic')
female_All_Ages
(8.850000143051147, 'Cult_Classic')
female_less_than_18
(9.474999904632568, 'Cult_Classic')
female_18_29
(8.924999713897705, 'Cult_Classic')
female_30_44
(8.850000143051147, 'Cult_Classic')
female_older_than_45
(8.549999713897705, 'Cult_Classic')