## Get data from single website

In [2]:
import mysql.connector
import datetime
import pandas as pd
from mysql.connector import errorcode
import config
import requests
import json
import itertools
from bs4 import BeautifulSoup as bs
import time
import locale

locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' )

'en_US.UTF-8'

In [200]:
headers = {
    'user-agent':
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36'
}

show_id = 'tt4481220'

url = "https://www.imdb.com/title/tt7049682/ratings?ref_=tt_ov_rt"
new_url = "https://www.imdb.com/title/" + show_id + "/ratings?ref_=tt_ov_rt"

page = requests.get(new_url, headers=headers)

In [201]:
#Get contents of the page in the soup variable
soup = bs(page.content, 'lxml')

In [202]:
show_id

'tt4481220'

### total votes

In [203]:
table1 = soup.find_all('div', class_='smallcell')

total_ratings =table1[0].get_text().split("\n")[2].strip()
total_ratings

IndexError: list index out of range

In [204]:
table1[0]

IndexError: list index out of range

### All ages 
All, Female and Male

In [153]:
table = soup.find_all('div', class_='bigcell')

In [154]:
table

[<div class="bigcell">9.0</div>,
 <div class="bigcell">9.2</div>,
 <div class="bigcell">9.1</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.1</div>,
 <div class="bigcell">9.0</div>,
 <div class="bigcell">9.2</div>,
 <div class="bigcell">9.1</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.2</div>,
 <div class="bigcell">8.9</div>,
 <div class="bigcell">9.0</div>,
 <div class="bigcell">9.0</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.0</div>,
 <div class="bigcell">7.4</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.9</div>]

In [193]:
ratings_num =[]
ratings = []
for i in range(len(table)-3):
    ratings.append(table[i].get_text())
ratings.insert(0,total_ratings)    
for i in range(len(ratings)):
    try:
        ratings_num.append(locale.atof(ratings[i]))
    except:
        ratings_num.append(None)
        continue
ratings_num.insert(0,show_id)        
rating_tuple = tuple(ratings_num)

In [194]:
ratings

['197,654',
 '9.0',
 '9.2',
 '9.1',
 '8.8',
 '8.1',
 '9.0',
 '9.2',
 '9.1',
 '8.8',
 '8.2',
 '8.9',
 '9.0',
 '9.0',
 '8.8',
 '8.0']

In [195]:
rating_tuple = tuple(ratings_num)
rating_tuple

('tt0877057',
 197654.0,
 9.0,
 9.2,
 9.1,
 8.8,
 8.1,
 9.0,
 9.2,
 9.1,
 8.8,
 8.2,
 8.9,
 9.0,
 9.0,
 8.8,
 8.0)

In [196]:
len(rating_tuple)

17

### Total ratings

In [205]:
d = {"show_id": show_id, "Total_reviews": total_reviews}

In [212]:
tuple(d.values())

('tt3032476',
 '264,260',
 '8.7',
 '8.7',
 '8.8',
 '8.6',
 '8.5',
 '8.7',
 '8.6',
 '8.8',
 '8.6',
 '8.5',
 '8.5',
 '8.8',
 '8.5',
 '8.5',
 '8.5')

In [169]:
new_url

'https://www.imdb.com/title/tt0877057/ratings?ref_=tt_ov_rt'

   Pets and Fruits   C1   C2
0           Apples  1.0  1.0
1          Oranges  2.0  2.0
2          Puppies  3.0  3.0
3            Ducks  4.0  4.0
4           Apples  1.0  1.0
5          Oranges  2.0  2.0
6          Puppies  3.0  3.0
7            Ducks  4.0  4.0
8           Apples  1.0  1.0
9          Oranges  2.0  2.0
10         Puppies  3.0  3.0
11           Ducks  4.0  4.0
12          Apples  1.0  1.0
13         Oranges  2.0  2.0
14         Puppies  3.0  3.0
15           Ducks  4.0  4.0
16          Apples  1.0  1.0
17         Oranges  2.0  2.0
18         Puppies  3.0  3.0
19           Ducks  4.0  4.0

### Total ratings

## Get data from single website

In [ ]:
for url in urls:
    page = requests.get(url, headers = headers)
    # include code to do status check
    if page.status_code != 200:
        print(page.status_code)
    
    #imagine we have gotten the contents of the page in the soup variable
    soup = BeautifulSoup(page.content, 'html.parser')
    items = soup.select(' .specific_class')
    
    #check to make sure we have items of that class
    if items:
        #continue processing the data
    else:
        print("Data is coming back blank")

## create a table in db for ratings

### Total ratings

In [2]:
cnx = mysql.connector.connect(host=config.host,
                              user=config.user,
                              password=config.password)
cursor = cnx.cursor()

In [147]:
## Create new DB
q1 = 'CREATE DATABASE TVSHOWS'

#cursor.execute(q1)

In [211]:
cnx = mysql.connector.connect(host=config.host,
                              user=config.user,
                              password=config.password,
                              database='TVSHOWS')
cursor = cnx.cursor()

In [212]:
q3 = """
TRUNCATE TABLE RATINGS;
"""

In [213]:
cursor.execute(q3)

TypeError: execute() missing 1 required positional argument: 'operation'

In [38]:
# Create a table for the RATINGS in TVSHOWS
q2 ="""CREATE TABLE RATINGS (
show_id varchar(50) PRIMARY KEY,
total_reviews int,
all_all_ages float,
all_less_than_18 float,
all_18_29 float,
all_30_44 float,
all_older_than_45 float,
male_All_Ages float,
male_less_than_18 float,
male_18_29 float,
male_30_44 float,
male_older_than_45 float,
female_All_Ages float,
female_less_than_18 float,
female_18_29 float,
female_30_44 float,
female_older_than_45 float
)
;
"""

In [39]:
cursor.execute(q2)

In [109]:
cursor.execute("""INSERT INTO RATINGS 
            (show_id, total_reviews, all_all_ages, all_less_than_18, all_18_29, all_30_44, all_older_than_45,
            male_All_Ages, male_less_than_18, male_18_29, male_30_44, male_older_than_45,
            female_All_Ages, female_less_than_18, female_18_29, female_30_44,female_older_than_45) 
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rating_tuple)
cnx.commit()

## GET TVSHOWS INFO FROM ID

### TV ID FROM NETFLIX TABLE

In [209]:
q5 = """ 
SELECT imdbID FROM Hulu 
"""
cursor.execute(q5)
shows_id = cursor.fetchall()

In [210]:
shows_id

[('tt2861424',),
 ('tt1355642',),
 ('tt1656192',),
 ('tt0303461',),
 ('tt1865718',),
 ('tt0213338',),
 ('tt4508902',),
 ('tt9335498',),
 ('tt2098220',),
 ('tt3718778',),
 ('tt8788458',),
 ('tt2560140',),
 ('tt2375379',),
 ('tt0286486',),
 ('tt0988818',),
 ('tt1305826',),
 ('tt0092455',),
 ('tt0407362',),
 ('tt1486217',),
 ('tt6723522',),
 ('tt2306299',),
 ('tt7005920',),
 ('tt0187664',),
 ('tt0994314',),
 ('tt0417373',),
 ('tt0038975',),
 ('tt1572503',),
 ('tt0423731',),
 ('tt3647998',),
 ('tt5626028',),
 ('tt1979319',),
 ('tt0214341',),
 ('tt0988824',),
 ('tt2505934',),
 ('tt3358020',),
 ('tt2305005',),
 ('tt0118480',),
 ('tt0185133',),
 ('tt4925000',),
 ('tt0433498',),
 ('tt4093626',),
 ('tt1710308',),
 ('tt2359704',),
 ('tt2467372',),
 ('tt4047038',),
 ('tt0796366',),
 ('tt0200267',),
 ('tt0455275',),
 ('tt0373732',),
 ('tt2402207',),
 ('tt0093409',),
 ('tt0844653',),
 ('tt0214341',),
 ('tt5715524',),
 ('tt0112178',),
 ('tt2805096',),
 ('tt0417373',),
 ('tt4975856',),
 ('tt9335498',),
 ('tt2261391',),
 ('tt1135300',),
 ('tt1981558',),
 ('tt0162661',),
 ('tt4396630',),
 ('tt3230454',),
 ('tt0251439',),
 ('tt0373732',),
 ('tt0065528',),
 ('tt1199099',),
 ('tt1214085',),
 ('tt0495212',),
 ('tt4145054',),
 ('tt0460690',),
 ('tt1286039',),
 ('tt0374455',),
 ('tt0465316',),
 ('tt1091191',),
 ('tt0114327',),
 ('tt3663490',),
 ('tt0244365',),
 ('tt4474344',),
 ('tt0434665',),
 ('tt1528406',),
 ('tt2305005',),
 ('tt0247082',),
 ('tt3061046',),
 ('tt0096684',),
 ('tt0233142',),
 ('tt1731697',),
 ('tt2250192',),
 ('tt1710308',),
 ('tt0988818',),
 ('tt2359704',),
 ('tt0071042',),
 ('tt0063951',),
 ('tt4903242',),
 ('tt0994314',),
 ('tt1319900',),
 ('tt2379308',),
 ('tt1942683',),
 ('tt0407362',),
 ('tt4655480',),
 ('tt7441658',),
 ('tt6342474',),
 ('tt2230051',),
 ('tt0285335',),
 ('tt0257076',),
 ('tt3742982',),
 ('tt2568204',),
 ('tt0160904',),
 ('tt0112167',),
 ('tt0248654',),
 ('tt1552112',),
 ('tt2184339',),
 ('tt3358020',),
 ('tt0430357',),
 ('tt0290223',),
 ('tt0114787',),
 ('tt8788458',),
 ('tt3597790',),
 ('tt0038975',),
 ('tt6148324',),
 ('tt2758770',),
 ('tt0185103',),
 ('tt1734537',),
 ('tt0955308',),
 ('tt0101188',),
 ('tt0086662',),
 ('tt0247827',),
 ('tt1812523',),
 ('tt2964642',),
 ('tt3837246',),
 ('tt1590961',),
 ('tt4530422',),
 ('tt1291150',),
 ('tt1979319',),
 ('tt0139774',),
 ('tt0446809',),
 ('tt1572503',)]

In [147]:
total_reviews =0

In [206]:
total_var = []
counter = 0
counter_err = 0

for i in range(len(shows_id)):
    try:
        new_url = "https://www.imdb.com/title/" + shows_id[i][0]+ "/ratings?ref_=tt_ov_rt"
        page = requests.get(new_url, headers = headers)
        soup = bs(page.content, 'lxml')
        show_id = shows_id[i][0]
        
        #getting total ratings
        table1 = soup.find_all('div', class_='smallcell')
        total_reviews = table1[0].get_text().split("\n")[2].strip()
        #getting the segmented ratings
        table = soup.find_all('div', class_='bigcell')

        ratings_num =[]
        ratings = []
        for i in range(len(table)-3):
            ratings.append(table[i].get_text())
        ratings.insert(0,total_reviews)    
        for i in range(len(ratings)):
            try:
                ratings_num.append(locale.atof(ratings[i]))
            except:
                ratings_num.append(None)
                continue
        ratings_num.insert(0, show_id)        
        rating_tuple = tuple(ratings_num)  

        total_var.append(rating_tuple)
    except:
        counter_err +=1
        continue
    cursor.execute("""INSERT INTO RATINGS 
            (show_id, total_reviews, all_all_ages, all_less_than_18, all_18_29, all_30_44, all_older_than_45,
            male_All_Ages, male_less_than_18, male_18_29, male_30_44, male_older_than_45,
            female_All_Ages, female_less_than_18, female_18_29, female_30_44,female_older_than_45) 
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rating_tuple)
    cnx.commit()
    time.sleep(.1)

197,654
('tt0877057', 197654.0, 9.0, 9.2, 9.1, 8.8, 8.1, 9.0, 9.2, 9.1, 8.8, 8.2, 8.9, 9.0, 9.0, 8.8, 8.0)
39,741
('tt2098220', 39741.0, 8.9, 9.0, 9.1, 8.6, 7.0, 8.9, 9.0, 9.1, 8.6, 7.1, 8.7, 8.1, 9.0, 8.2, 7.0)
94,572
('tt4508902', 94572.0, 8.9, 8.6, 8.9, 8.8, 7.9, 8.9, 8.6, 8.9, 8.8, 8.0, 8.6, 8.0, 8.8, 8.5, 6.6)
131,600
('tt2560140', 131600.0, 8.8, 8.9, 8.9, 8.6, 7.9, 8.8, 8.9, 8.9, 8.6, 7.9, 8.8, 8.5, 8.9, 8.7, 8.2)
56,917
('tt0421357', 56917.0, 8.6, 7.8, 8.6, 8.6, 7.6, 8.6, 7.9, 8.6, 8.5, 7.6, 8.6, 6.9, 8.7, 8.7, 7.6)
17
('tt5443130', 17.0, 5.9, None, 5.1, 5.5, 6.0, 5.1, None, 6.8, 4.3, None, 5.8, None, 1.0, 8.0, 6.0)
41,729
('tt0112159', 41729.0, 8.6, 8.2, 8.6, 8.5, 7.8, 8.6, 8.2, 8.6, 8.6, 7.8, 8.4, 7.7, 8.4, 8.4, 7.3)
10,962
('tt3895150', 10962.0, 8.6, 8.9, 8.6, 8.4, 8.1, 8.7, 9.0, 8.7, 8.5, 8.1, 8.3, 8.4, 8.3, 8.3, 8.0)
3,179
('tt0088595', 3179.0, 8.5, 6.0, 7.5, 8.6, 8.5, 8.5, None, 7.6, 8.6, 8.5, 8.2, 6.0, 6.9, 8.4, 7.8)
8,504
('tt0161952', 8504.0, 8.5, 8.8, 8.3, 8.6, 6.9, 8.5, 9.2, 8.3, 8.6, 6.8, 8.0, 9.0, 8.0, 8.1, 7.1)
5,149
('tt2359704', 5149.0, 8.4, 9.0, 8.4, 7.9, 7.1, 8.3, 9.0, 8.5, 7.9, 7.2, 7.7, 10.0, 8.0, 7.4, 5.9)
214
('tt5514632', 214.0, 6.8, None, 6.8, 6.7, 7.0, 6.8, None, 7.0, 6.7, 6.8, 6.7, None, 6.4, 6.3, 7.4)
6,825
('tt7078180', 6825.0, 8.4, 9.1, 8.5, 8.2, 8.1, 8.4, 9.0, 8.5, 8.1, 8.2, 8.5, 9.3, 8.4, 8.4, 7.9)
12,839
('tt0948103', 12839.0, 8.3, 7.6, 8.4, 8.2, 7.1, 8.3, 7.8, 8.4, 8.2, 7.2, 7.9, 6.5, 7.9, 8.0, 6.1)
6,136
('tt1773185', 6136.0, 8.3, 7.7, 8.4, 8.2, 7.8, 8.3, 7.6, 8.4, 8.2, 7.8, 8.3, 9.0, 8.4, 8.1, 7.4)
6,650
('tt1913273', 6650.0, 8.2, 8.2, 8.3, 8.1, 7.6, 8.3, 8.3, 8.4, 8.1, 7.6, 8.1, 7.8, 8.2, 7.8, 7.8)
3,261
('tt1160524', 3261.0, 7.0, 6.9, 7.1, 6.8, 6.8, 7.0, 6.9, 7.1, 6.8, 6.6, 7.3, None, 7.3, 7.1, 7.5)
7,255
('tt0816397', 7255.0, 8.2, 6.4, 8.4, 8.1, 7.0, 7.7, 6.2, 8.0, 7.4, 6.0, 8.6, 7.8, 8.6, 8.6, 8.3)
2,444
('tt9089294', 2444.0, 7.2, 7.5, 7.2, 7.0, 6.6, 7.1, 7.4, 7.2, 7.0, 6.5, 7.6, 8.5, 7.7, 7.6, 7.9)
3,563
('tt1105263', 3563.0, 7.2, 7.0, 7.3, 7.1, 6.1, 7.1, 7.0, 7.3, 7.1, 6.2, 7.6, None, 7.6, 7.7, 6.3)
867
('tt8963328', 867.0, 8.1, None, 7.9, 8.2, 6.7, 8.1, None, 8.0, 8.2, 6.5, 7.4, None, 6.9, 7.7, 8.0)
1,410
('tt9058134', 1410.0, 8.0, 10.0, 8.1, 8.0, 7.6, 8.0, None, 8.1, 7.9, 7.7, 7.9, None, 7.7, 8.3, 7.1)
1,819
('tt6352180', 1819.0, 8.0, 7.1, 8.0, 7.7, 7.6, 7.8, 7.0, 7.9, 7.6, 7.6, 8.2, 9.0, 8.3, 8.0, 7.2)
3,837
('tt1634208', 3837.0, 8.0, 8.2, 8.1, 7.8, 7.1, 7.8, 8.0, 7.9, 7.6, 6.9, 8.2, 8.7, 8.3, 7.9, 7.2)
7,427
('tt1298820', 7427.0, 8.6, 8.7, 8.8, 8.2, 7.0, 8.7, 8.7, 8.9, 8.2, 7.2, 8.1, 9.0, 8.4, 7.7, 5.9)
334
('tt6667268', 334.0, 5.3, 10.0, 5.4, 5.2, 7.3, 5.3, 10.0, 5.4, 5.2, 7.3, 5.5, None, 9.0, 6.5, None)
1,202
('tt9103932', 1202.0, 8.8, 9.0, 8.9, 8.8, 8.8, 8.8, 9.0, 8.9, 8.7, 8.8, 9.0, None, 8.7, 9.2, 8.9)
3,739
('tt2069688', 3739.0, 8.7, 7.0, 8.8, 8.7, 8.6, 8.7, 7.0, 8.8, 8.7, 8.6, 8.6, None, 8.5, 8.7, 8.4)
83
('tt4356698', 83.0, 7.1, None, 7.5, 6.9, 6.9, 7.0, None, 7.8, 6.9, 7.0, 6.9, None, 7.0, 7.0, 8.0)
44,783
('tt8398600', 44783.0, 8.4, 8.5, 8.4, 8.4, 8.5, 8.4, 8.5, 8.4, 8.3, 8.5, 8.6, 8.1, 8.5, 8.5, 8.8)
1,732
('tt7818686', 1732.0, 8.4, 8.5, 8.5, 8.2, 8.0, 8.3, 8.5, 8.5, 8.2, 8.0, 8.3, 10.0, 8.6, 8.0, 7.9)
9,156
('tt1830379', 9156.0, 8.4, 8.5, 8.5, 8.2, 8.0, 8.3, 8.4, 8.5, 8.2, 8.1, 8.3, None, 8.4, 8.1, 8.0)
385
('tt5907228', 385.0, 8.3, None, 8.4, 8.3, 7.9, 8.2, None, 8.5, 8.3, 7.9, 8.0, None, 7.0, 8.4, 8.2)
176
('tt2078263', 176.0, 8.3, None, 8.5, 8.2, 8.4, 8.3, None, 8.2, 8.4, 8.0, 8.4, None, 9.0, 7.8, 8.6)
75,156
('tt7493974', 75156.0, 8.2, 8.1, 8.3, 8.0, 8.1, 8.1, 8.1, 8.3, 8.0, 8.0, 8.2, 7.4, 8.2, 8.1, 8.3)
1,045
('tt0224464', 1045.0, 8.2, None, 8.1, 8.1, 8.2, 8.1, None, 8.1, 8.0, 8.3, 8.1, None, 7.8, 8.1, 8.3)
5,044
('tt8387348', 5044.0, 7.8, 9.0, 7.9, 7.7, 7.6, 7.8, 9.8, 7.8, 7.7, 7.6, 7.8, 6.0, 7.9, 7.7, 7.4)
62
('tt4622718', 62.0, 8.2, None, 8.6, 7.9, 8.4, 7.9, None, 8.6, 7.3, 8.2, 9.0, None, None, 9.0, 9.5)
3,172
('tt8914684', 3172.0, 8.2, 9.0, 8.2, 8.0, 8.3, 8.2, 9.2, 8.2, 8.0, 8.3, 8.3, None, 8.3, 8.3, 8.0)
64,442
('tt0052520', 64442.0, 9.0, 9.1, 9.0, 9.0, 9.0, 9.0, 9.1, 9.0, 9.0, 9.0, 9.0, 9.4, 9.0, 9.0, 9.0)
542
('tt0392089', 542.0, 7.4, None, 7.5, 7.5, 6.9, 7.5, None, 7.4, 7.5, 7.2, 7.2, None, 8.1, 7.0, 6.3)
159,977
('tt0098936', 159977.0, 8.8, 9.2, 8.9, 8.8, 8.5, 8.8, 9.2, 8.9, 8.8, 8.5, 8.8, 9.5, 8.9, 8.8, 8.4)
83
('tt4356698', 83.0, 7.1, None, 7.5, 6.9, 6.9, 7.0, None, 7.8, 6.9, 7.0, 6.9, None, 7.0, 7.0, 8.0)
921
('tt7211930', 921.0, 8.7, 8.0, 8.8, 8.4, 7.8, 8.7, 8.0, 8.8, 8.6, 8.5, 7.9, 8.0, 8.8, 7.3, 5.9)
12
('tt1136825', 12.0, 7.1, None, 7.0, 7.2, 6.8, 7.0, None, 7.0, 7.0, 6.8, 8.0, None, None, 8.0, None)
71
('tt4792792', 71.0, 7.9, None, 8.4, 7.3, 8.5, 7.4, None, 7.4, 7.1, 8.5, 8.4, None, 10.0, 8.2, None)
16
('tt6030702', 16.0, 6.6, None, 4.3, 4.4, 9.0, 5.6, None, 4.3, 4.3, 9.0, 6.0, None, None, 6.0, None)
6,655
('tt7588054', 6655.0, 6.0, 6.8, 6.7, 5.8, 5.5, 4.9, None, 5.8, 4.6, 4.9, 6.9, 7.0, 7.2, 6.8, 6.5)
424
('tt3088036', 424.0, 8.5, None, 8.9, 7.9, 7.9, 8.4, None, 8.8, 7.9, 7.7, 8.9, None, 9.8, 7.4, 8.7)
30
('tt8931836', 30.0, 9.2, 10.0, 9.7, 8.5, None, 9.6, None, 9.7, 9.0, None, 7.9, 10.0, 9.0, 8.0, None)
334
('tt6667268', 334.0, 5.3, 10.0, 5.4, 5.2, 7.3, 5.3, 10.0, 5.4, 5.2, 7.3, 5.5, None, 9.0, 6.5, None)
197,654
('tt0877057', 197654.0, 9.0, 9.2, 9.1, 8.8, 8.1, 9.0, 9.2, 9.1, 8.8, 8.2, 8.9, 9.0, 9.0, 8.8, 8.0)
54,864
('tt7137906', 54864.0, 9.0, 9.1, 9.1, 8.9, 8.7, 8.9, 9.0, 9.0, 8.8, 8.6, 9.2, 9.1, 9.3, 9.1, 9.0)
94,572
('tt4508902', 94572.0, 8.9, 8.6, 8.9, 8.8, 7.9, 8.9, 8.6, 8.9, 8.8, 8.0, 8.6, 8.0, 8.8, 8.5, 6.6)
24,618
('tt1795096', 24618.0, 8.8, 8.4, 9.0, 8.7, 6.8, 8.7, 8.4, 9.0, 8.7, 6.8, 8.8, None, 9.0, 8.9, 6.5)
2,027
('tt5332206', 2027.0, 8.8, 6.9, 9.0, 8.6, 8.6, 8.7, 8.2, 8.9, 8.6, 8.5, 8.9, 4.0, 9.2, 8.6, 8.8)
159,977
('tt0098936', 159977.0, 8.8, 9.2, 8.9, 8.8, 8.5, 8.8, 9.2, 8.9, 8.8, 8.5, 8.8, 9.5, 8.9, 8.8, 8.4)
191
('tt8736278', 191.0, 7.8, None, 8.0, 7.7, 7.5, 7.7, None, 7.9, 7.6, 7.6, 8.3, None, 9.5, 8.4, 6.0)
134
('tt7435402', 134.0, 8.3, 10.0, 8.5, 8.0, 8.2, 8.2, 10.0, 8.4, 7.7, 8.0, 9.2, None, 7.7, 9.9, 8.3)
114,140
('tt6565702', 114140.0, 5.8, 6.2, 5.7, 5.8, 6.0, 5.8, 5.9, 5.7, 5.7, 6.0, 6.0, 6.9, 6.0, 6.0, 6.1)
5
('tt3338098', 5.0, 7.6, None, 7.0, 7.7, 8.0, 6.7, None, 7.0, 5.0, 8.0, 9.0, None, None, 9.0, None)
594
('tt1739744', 594.0, 8.7, 10.0, 8.9, 8.3, 8.5, 8.6, 10.0, 8.9, 8.3, 8.4, 7.9, None, 7.9, 6.8, 8.2)
22,301
('tt1534360', 22301.0, 8.6, 9.3, 8.8, 8.4, 7.1, 8.6, 9.3, 8.8, 8.4, 7.0, 8.4, 10.0, 8.7, 8.3, 7.1)
675
('tt7433762', 675.0, 8.9, None, 5.2, 5.8, 6.7, 5.6, None, 4.0, 5.4, 6.6, 6.4, None, 6.5, 9.5, 8.0)
497
('tt5677942', 497.0, 8.6, None, 8.3, 7.6, 9.1, 8.0, None, 7.7, 7.4, 8.9, 8.8, None, 8.7, 8.1, 9.3)
494
('tt5226192', 494.0, 3.5, 5.0, 3.6, 3.4, 3.6, 3.6, 4.5, 4.2, 3.4, 3.6, 3.4, 5.5, 3.0, 3.5, 3.5)
2,721
('tt6461346', 2721.0, 8.6, 8.8, 8.8, 8.5, 8.4, 8.6, 9.0, 8.9, 8.5, 8.3, 8.6, 9.5, 8.8, 8.4, 8.6)
7,056
('tt9398466', 7056.0, 8.5, 6.6, 8.6, 8.4, 8.2, 8.5, 6.3, 8.6, 8.3, 8.2, 8.5, None, 8.5, 8.6, 8.2)
3,311
('tt2187850', 3311.0, 8.5, 9.7, 8.4, 8.5, 8.3, 8.5, 9.5, 8.4, 8.5, 8.3, 8.5, None, 8.4, 8.6, 8.1)
37,186
('tt7909970', 37186.0, 8.5, 8.1, 8.5, 8.4, 8.6, 8.4, 7.6, 8.5, 8.3, 8.5, 8.7, 8.5, 8.7, 8.7, 8.8)
20,648
('tt6205862', 20648.0, 8.4, 8.2, 8.5, 8.3, 8.2, 8.4, 8.0, 8.5, 8.3, 8.2, 8.4, 9.0, 8.5, 8.3, 8.1)
12,854
('tt4378376', 12854.0, 8.4, 7.5, 8.5, 8.3, 8.4, 8.4, 7.5, 8.5, 8.3, 8.4, 8.5, None, 8.6, 8.4, 8.5)
19,592
('tt9253866', 19592.0, 9.4, 8.6, 9.4, 9.3, 9.1, 9.3, 8.3, 9.4, 9.3, 9.1, 9.5, 9.5, 9.6, 9.5, 9.2)
1,202
('tt9103932', 1202.0, 8.8, 9.0, 8.9, 8.8, 8.8, 8.8, 9.0, 8.9, 8.7, 8.8, 9.0, None, 8.7, 9.2, 8.9)
4,685
('tt7651892', 4685.0, 8.9, 9.8, 9.0, 8.8, 8.6, 8.8, 9.7, 9.0, 8.8, 8.5, 9.0, None, 9.0, 9.0, 8.8)
290
('tt1074194', 290.0, 7.7, None, 7.2, 7.6, 7.9, 7.6, None, 7.1, 7.5, 7.9, 8.3, None, 7.7, 8.3, 8.2)
25
('tt9642576', 25.0, 8.8, None, 8.2, 9.3, 8.0, 8.9, None, 8.2, 9.2, 8.0, 10.0, None, None, 10.0, None)
191
('tt8736278', 191.0, 7.8, None, 8.0, 7.7, 7.5, 7.7, None, 7.9, 7.6, 7.6, 8.3, None, 9.5, 8.4, 6.0)
3,739
('tt2069688', 3739.0, 8.7, 7.0, 8.8, 8.7, 8.6, 8.7, 7.0, 8.8, 8.7, 8.6, 8.6, None, 8.5, 8.7, 8.4)

8,558
('tt8289930', 8558.0, 8.6, 8.0, 8.7, 8.5, 8.4, 8.6, 8.0, 8.7, 8.5, 8.5, 8.7, 7.0, 8.8, 8.5, 8.0)
564
('tt1877895', 564.0, 8.5, None, 8.6, 8.3, 8.8, 8.1, None, 8.4, 7.8, 8.5, 8.8, None, 8.7, 8.8, 9.2)
1,505
('tt6133034', 1505.0, 8.5, None, 8.7, 8.4, 8.3, 8.4, None, 8.6, 8.3, 7.9, 8.9, None, 8.9, 8.7, 8.9)
3,042
('tt6587094', 3042.0, 8.4, 9.0, 8.5, 8.2, 8.4, 8.3, 9.0, 8.5, 8.2, 8.4, 8.4, None, 8.4, 8.3, 8.4)
1,099
('tt7440274', 1099.0, 8.4, 10.0, 8.8, 7.8, 8.4, 8.2, 10.0, 8.8, 7.7, 8.3, 9.1, None, 8.6, 9.1, 9.2)
385
('tt5907228', 385.0, 8.3, None, 8.4, 8.3, 7.9, 8.2, None, 8.5, 8.3, 7.9, 8.0, None, 7.0, 8.4, 8.2)
176
('tt2078263', 176.0, 8.3, None, 8.5, 8.2, 8.4, 8.3, None, 8.2, 8.4, 8.0, 8.4, None, 9.0, 7.8, 8.6)
995
('tt5144776', 995.0, 8.3, 8.5, 8.3, 8.3, 8.3, 8.2, 9.0, 8.3, 8.2, 8.3, 8.4, None, 8.4, 8.3, 8.5)
761
('tt10681222', 761.0, 8.0, None, 8.2, 7.9, 7.9, 7.9, None, 8.0, 7.9, 7.8, 8.2, None, 8.4, 7.9, 8.0)
1,067
('tt4491456', 1067.0, 8.3, 9.0, 8.4, 8.3, 8.2, 8.2, 9.0, 8.4, 8.2, 8.0, 8.5, None, 8.3, 8.6, 8.5)
1,039
('tt8200004', 1039.0, 8.2, 10.0, 8.2, 8.1, 8.3, 8.1, 10.0, 8.2, 8.0, 8.3, 8.3, 10.0, 8.1, 8.5, 8.2)
118,450
('tt5104604', 118450.0, 7.9, 8.3, 8.0, 7.7, 7.6, 7.8, 8.3, 8.0, 7.7, 7.5, 8.1, 8.2, 8.2, 8.0, 7.8)
16,298
('tt8595766', 16298.0, 9.3, 9.4, 9.4, 8.6, 5.2, 9.2, 9.3, 9.4, 8.6, 5.0, 9.3, 10.0, 9.5, 8.5, 5.3)
32
('tt11152058', 32.0, 9.0, 10.0, 9.7, 9.2, 5.0, 7.0, None, 10.0, 10.0, 1.0, 9.0, 10.0, 9.5, 9.1, 9.0)
30
('tt8931836', 30.0, 9.2, 10.0, 9.7, 8.5, None, 9.6, None, 9.7, 9.0, None, 7.9, 10.0, 9.0, 8.0, None)
18,862
('tt8809646', 18862.0, 9.2, 9.8, 9.1, 6.8, 6.1, 9.0, 9.8, 9.1, 6.7, 6.5, 9.3, 9.9, 9.6, 7.0, 3.7)
56
('tt9011036', 56.0, 9.1, None, 9.1, 8.2, 9.3, 9.0, None, 9.3, 7.6, 9.8, 9.1, None, 8.5, 9.9, 8.7)
334
('tt6667268', 334.0, 5.3, 10.0, 5.4, 5.2, 7.3, 5.3, 10.0, 5.4, 5.2, 7.3, 5.5, None, 9.0, 6.5, None)
197,654
('tt0877057', 197654.0, 9.0, 9.2, 9.1, 8.8, 8.1, 9.0, 9.2, 9.1, 8.8, 8.2, 8.9, 9.0, 9.0, 8.8, 8.0)
3,002
('tt2403201', 3002.0, 9.0, 8.8, 9.0, 8.7, 7.4, 9.0, 8.0, 9.1, 8.8, 8.1, 8.5, 9.0, 8.6, 8.2, 7.1)
817
('tt4853764', 817.0, 9.0, None, 9.1, 8.7, 8.9, 8.9, None, 9.1, 8.8, 8.5, 8.8, None, 9.0, 8.6, 9.3)
2,475
('tt2828240', 2475.0, 9.0, 10.0, 9.0, 8.7, 7.5, 8.9, 10.0, 9.0, 8.7, 8.4, 8.7, None, 8.8, 8.6, 6.5)
1,202
('tt9103932', 1202.0, 8.8, 9.0, 8.9, 8.8, 8.8, 8.8, 9.0, 8.9, 8.7, 8.8, 9.0, None, 8.7, 9.2, 8.9)
39,741
('tt2098220', 39741.0, 8.9, 9.0, 9.1, 8.6, 7.0, 8.9, 9.0, 9.1, 8.6, 7.1, 8.7, 8.1, 9.0, 8.2, 7.0)
94,572
('tt4508902', 94572.0, 8.9, 8.6, 8.9, 8.8, 7.9, 8.9, 8.6, 8.9, 8.8, 8.0, 8.6, 8.0, 8.8, 8.5, 6.6)
131,600
('tt2560140', 131600.0, 8.8, 8.9, 8.9, 8.6, 7.9, 8.8, 8.9, 8.9, 8.6, 7.9, 8.8, 8.5, 8.9, 8.7, 8.2)
24,618
('tt1795096', 24618.0, 8.8, 8.4, 9.0, 8.7, 6.8, 8.7, 8.4, 9.0, 8.7, 6.8, 8.8, None, 9.0, 8.9, 6.5)

KeyboardInterrupt:

In [20]:
    counter_err

645

In [22]:
len(total_var)

0