## Get data from single website

In [2]:
import mysql.connector
import datetime
import pandas as pd
from mysql.connector import errorcode
import config
import requests
import json
import itertools
from bs4 import BeautifulSoup as bs
import time
import locale

locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' )

'en_US.UTF-8'

In [200]:
headers = {
    'user-agent':
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36'
}

show_id = 'tt4481220'

url = "https://www.imdb.com/title/tt7049682/ratings?ref_=tt_ov_rt"
new_url = "https://www.imdb.com/title/" + show_id + "/ratings?ref_=tt_ov_rt"

page = requests.get(new_url, headers=headers)

In [201]:
#Get contents of the page in the soup variable
soup = bs(page.content, 'lxml')

In [202]:
show_id

'tt4481220'

### total votes

In [203]:
table1 = soup.find_all('div', class_='smallcell')

total_ratings =table1[0].get_text().split("\n")[2].strip()
total_ratings

IndexError: list index out of range

In [204]:
table1[0]

IndexError: list index out of range

### All ages 
All, Female and Male

In [153]:
table = soup.find_all('div', class_='bigcell')

In [154]:
table

[<div class="bigcell">9.0</div>,
 <div class="bigcell">9.2</div>,
 <div class="bigcell">9.1</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.1</div>,
 <div class="bigcell">9.0</div>,
 <div class="bigcell">9.2</div>,
 <div class="bigcell">9.1</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.2</div>,
 <div class="bigcell">8.9</div>,
 <div class="bigcell">9.0</div>,
 <div class="bigcell">9.0</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.0</div>,
 <div class="bigcell">7.4</div>,
 <div class="bigcell">8.8</div>,
 <div class="bigcell">8.9</div>]

In [193]:
ratings_num =[]
ratings = []
for i in range(len(table)-3):
    ratings.append(table[i].get_text())
ratings.insert(0,total_ratings)    
for i in range(len(ratings)):
    try:
        ratings_num.append(locale.atof(ratings[i]))
    except:
        ratings_num.append(None)
        continue
ratings_num.insert(0,show_id)        
rating_tuple = tuple(ratings_num)

In [194]:
ratings

['197,654',
 '9.0',
 '9.2',
 '9.1',
 '8.8',
 '8.1',
 '9.0',
 '9.2',
 '9.1',
 '8.8',
 '8.2',
 '8.9',
 '9.0',
 '9.0',
 '8.8',
 '8.0']

In [195]:
rating_tuple = tuple(ratings_num)
rating_tuple

('tt0877057',
 197654.0,
 9.0,
 9.2,
 9.1,
 8.8,
 8.1,
 9.0,
 9.2,
 9.1,
 8.8,
 8.2,
 8.9,
 9.0,
 9.0,
 8.8,
 8.0)

In [196]:
len(rating_tuple)

17

### Total ratings

In [205]:
d = {"show_id": show_id, "Total_reviews": total_reviews}

In [212]:
tuple(d.values())

('tt3032476',
 '264,260',
 '8.7',
 '8.7',
 '8.8',
 '8.6',
 '8.5',
 '8.7',
 '8.6',
 '8.8',
 '8.6',
 '8.5',
 '8.5',
 '8.8',
 '8.5',
 '8.5',
 '8.5')

In [169]:
new_url

'https://www.imdb.com/title/tt0877057/ratings?ref_=tt_ov_rt'

   Pets and Fruits   C1   C2
0           Apples  1.0  1.0
1          Oranges  2.0  2.0
2          Puppies  3.0  3.0
3            Ducks  4.0  4.0
4           Apples  1.0  1.0
5          Oranges  2.0  2.0
6          Puppies  3.0  3.0
7            Ducks  4.0  4.0
8           Apples  1.0  1.0
9          Oranges  2.0  2.0
10         Puppies  3.0  3.0
11           Ducks  4.0  4.0
12          Apples  1.0  1.0
13         Oranges  2.0  2.0
14         Puppies  3.0  3.0
15           Ducks  4.0  4.0
16          Apples  1.0  1.0
17         Oranges  2.0  2.0
18         Puppies  3.0  3.0
19           Ducks  4.0  4.0

### Total ratings

## Get data from single website

In [ ]:
for url in urls:
    page = requests.get(url, headers = headers)
    # include code to do status check
    if page.status_code != 200:
        print(page.status_code)
    
    #imagine we have gotten the contents of the page in the soup variable
    soup = BeautifulSoup(page.content, 'html.parser')
    items = soup.select(' .specific_class')
    
    #check to make sure we have items of that class
    if items:
        #continue processing the data
    else:
        print("Data is coming back blank")

## create a table in db for ratings

### Total ratings

In [2]:
cnx = mysql.connector.connect(host=config.host,
                              user=config.user,
                              password=config.password)
cursor = cnx.cursor()

In [147]:
## Create new DB
q1 = 'CREATE DATABASE TVSHOWS'

#cursor.execute(q1)

In [211]:
cnx = mysql.connector.connect(host=config.host,
                              user=config.user,
                              password=config.password,
                              database='TVSHOWS')
cursor = cnx.cursor()

In [218]:
q3 = """
TRUNCATE TABLE RATINGS;
"""

In [219]:
cursor.execute(q3)

In [38]:
# Create a table for the RATINGS in TVSHOWS
q2 ="""CREATE TABLE RATINGS (
show_id varchar(50) PRIMARY KEY,
total_reviews int,
all_all_ages float,
all_less_than_18 float,
all_18_29 float,
all_30_44 float,
all_older_than_45 float,
male_All_Ages float,
male_less_than_18 float,
male_18_29 float,
male_30_44 float,
male_older_than_45 float,
female_All_Ages float,
female_less_than_18 float,
female_18_29 float,
female_30_44 float,
female_older_than_45 float
)
;
"""

In [39]:
cursor.execute(q2)

In [109]:
cursor.execute("""INSERT INTO RATINGS 
            (show_id, total_reviews, all_all_ages, all_less_than_18, all_18_29, all_30_44, all_older_than_45,
            male_All_Ages, male_less_than_18, male_18_29, male_30_44, male_older_than_45,
            female_All_Ages, female_less_than_18, female_18_29, female_30_44,female_older_than_45) 
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rating_tuple)
cnx.commit()

## GET TVSHOWS INFO FROM ID

### TV ID FROM NETFLIX TABLE

In [216]:
q5 = """ 
SELECT imdbID FROM Netflix 
"""
cursor.execute(q5)
shows_id = cursor.fetchall()

In [217]:
shows_id

[('tt0877057',),
 ('tt2098220',),
 ('tt4508902',),
 ('tt2560140',),
 ('tt0421357',),
 ('tt5443130',),
 ('tt0112159',),
 ('tt3895150',),
 ('tt0088595',),
 ('tt0161952',),
 ('tt2359704',),
 ('tt5514632',),
 ('tt7078180',),
 ('tt4481220',),
 ('tt0948103',),
 ('tt1773185',),
 ('tt1913273',),
 ('tt1160524',),
 ('tt0816397',),
 ('tt9089294',),
 ('tt1105263',),
 ('tt8963328',),
 ('tt9058134',),
 ('tt6352180',),
 ('tt1634208',),
 ('tt1298820',),
 ('tt6667268',),
 ('tt9103932',),
 ('tt9772698',),
 ('tt2069688',),
 ('tt4356698',),
 ('tt8398600',),
 ('tt7818686',),
 ('tt1830379',),
 ('tt5907228',),
 ('tt2078263',),
 ('tt7767422',),
 ('tt3080718',),
 ('tt7493974',),
 ('tt0224464',),
 ('tt8387348',),
 ('tt4622718',),
 ('tt3174114',),
 ('tt8914684',),
 ('tt0052520',),
 ('tt0392089',),
 ('tt0098936',),
 ('tt4356698',),
 ('tt7211930',),
 ('tt1136825',),
 ('tt6527032',),
 ('tt4792792',),
 ('tt6030702',),
 ('tt7588054',),
 ('tt3088036',),
 ('tt8931836',),
 ('tt6667268',),
 ('tt0877057',),
 ('tt7137906',),
 ('tt4508902',),
 ('tt1795096',),
 ('tt5332206',),
 ('tt0098936',),
 ('tt8736278',),
 ('tt7435402',),
 ('tt6565702',),
 ('tt3338098',),
 ('tt1739744',),
 ('tt1534360',),
 ('tt7433762',),
 ('tt5677942',),
 ('tt5226192',),
 ('tt6461346',),
 ('tt9398466',),
 ('tt2187850',),
 ('tt7909970',),
 ('tt6205862',),
 ('tt4378376',),
 ('tt9253866',),
 ('tt9103932',),
 ('tt7651892',),
 ('tt1074194',),
 ('tt9642576',),
 ('tt8736278',),
 ('tt2069688',),
 ('tt8289930',),
 ('tt1877895',),
 ('tt6133034',),
 ('tt6587094',),
 ('tt7440274',),
 ('tt8074270',),
 ('tt6088326',),
 ('tt5907228',),
 ('tt2078263',),
 ('tt8194716',),
 ('tt5144776',),
 ('tt10681222',),
 ('tt4491456',),
 ('tt8200004',),
 ('tt5104604',),
 ('tt8595766',),
 ('tt11152058',),
 ('tt8931836',),
 ('tt8809646',),
 ('tt9011036',),
 ('tt6667268',),
 ('tt0877057',),
 ('tt2403201',),
 ('tt4853764',),
 ('tt2828240',),
 ('tt9103932',),
 ('tt2098220',),
 ('tt5715150',),
 ('tt4508902',),
 ('tt2560140',),
 ('tt1795096',),
 ('tt7094780',),
 ('tt9642576',),
 ('tt5332206',),
 ('tt7052634',),
 ('tt10554898',),
 ('tt0459724',),
 ('tt8736278',),
 ('tt6565702',),
 ('tt1739744',),
 ('tt9772698',),
 ('tt2069688',),
 ('tt1534360',),
 ('tt6385540',),
 ('tt10228032',),
 ('tt4651448',),
 ('tt6046238',),
 ('tt7166296',),
 ('tt5779222',),
 ('tt6163070',),
 ('tt3501734',),
 ('tt9165404',),
 ('tt7042146',),
 ('tt5449566',),
 ('tt7168712',),
 ('tt9203042',),
 ('tt10183858',),
 ('tt2788526',),
 ('tt7094780',),
 ('tt5332206',),
 ('tt4240730',),
 ('tt6461346',),
 ('tt10850888',),
 ('tt8707436',),
 ('tt8523042',),
 ('tt6516076',),
 ('tt6611916',),
 ('tt7622902',),
 ('tt4613520',),
 ('tt6356086',),
 ('tt7099334',),
 ('tt2782216',),
 ('tt8078816',),
 ('tt8750956',),
 ('tt2090465',),
 ('tt4799574',),
 ('tt9130542',),
 ('tt10406128',),
 ('tt1370334',),
 ('tt3914520',),
 ('tt10405394',),
 ('tt3113612',),
 ('tt1757202',),
 ('tt10192576',),
 ('tt3385484',),
 ('tt8236556',),
 ('tt5309758',),
 ('tt2806646',),
 ('tt5966882',),
 ('tt10826064',),
 ('tt8893550',),
 ('tt10971532',),
 ('tt10971532',),
 ('tt8911552',),
 ('tt7644680',),
 ('tt10242848',),
 ('tt8268994',),
 ('tt7619858',),
 ('tt7936386',),
 ('tt8773338',),
 ('tt10698408',),
 ('tt5011296',),
 ('tt11152058',),
 ('tt8809646',),
 ('tt2403201',),
 ('tt2828240',),
 ('tt7094780',),
 ('tt7052634',),
 ('tt3895150',),
 ('tt8976346',),
 ('tt1739752',),
 ('tt7804134',),
 ('tt6498116',),
 ('tt6413302',),
 ('tt7078180',),
 ('tt6273088',),
 ('tt6516076',),
 ('tt7099334',),
 ('tt7899698',),
 ('tt8690890',),
 ('tt0816397',),
 ('tt2782216',),
 ('tt8078816',),
 ('tt10472296',),
 ('tt5725908',),
 ('tt8963328',),
 ('tt3614286',),
 ('tt4799574',),
 ('tt9130542',),
 ('tt9253866',),
 ('tt7651892',),
 ('tt1074194',),
 ('tt2069688',),
 ('tt8074270',),
 ('tt5907228',),
 ('tt11063952',),
 ('tt10810430',),
 ('tt5820022',),
 ('tt8004578',),
 ('tt10837476',),
 ('tt2777876',),
 ('tt6986448',),
 ('tt8201618',),
 ('tt5581730',),
 ('tt4483562',),
 ('tt2173801',),
 ('tt4073812',),
 ('tt9269852',),
 ('tt8107992',),
 ('tt3021452',),
 ('tt8893566',),
 ('tt5275894',),
 ('tt1363109',),
 ('tt1620950',),
 ('tt5428494',),
 ('tt5715150',),
 ('tt0459724',),
 ('tt8736278',),
 ('tt5677942',),
 ('tt2187850',),
 ('tt5858812',),
 ('tt1260520',),
 ('tt5049938',),
 ('tt5725908',),
 ('tt8655736',),
 ('tt6970710',),
 ('tt0387763',),
 ('tt0391683',),
 ('tt3518272',),
 ('tt1612716',),
 ('tt10242848',),
 ('tt8560918',),
 ('tt6127956',),
 ('tt8139862',),
 ('tt6648926',),
 ('tt8858472',),
 ('tt7818686',),
 ('tt6937876',),
 ('tt7570990',),
 ('tt7895706',),
 ('tt7178034',),
 ('tt7698408',),
 ('tt8685446',),
 ('tt7157574',),
 ('tt7165310',),
 ('tt7204366',),
 ('tt9077196',),
 ('tt10085386',),
 ('tt8687584',),
 ('tt9169602',),
 ('tt8010342',),
 ('tt6953908',),
 ('tt6504014',),
 ('tt11152058',),
 ('tt8931836',),
 ('tt5715150',),
 ('tt5443130',),
 ('tt4580372',),
 ('tt3895150',),
 ('tt7701694',),
 ('tt8059904',),
 ('tt5514632',),
 ('tt7767422',),
 ('tt1913273',),
 ('tt8690890',),
 ('tt0816397',),
 ('tt2782216',),
 ('tt3174114',),
 ('tt1370334',),
 ('tt4242904',),
 ('tt9184994',),
 ('tt10265158',),
 ('tt1298820',),
 ('tt8894324',),
 ('tt5435008',),
 ('tt4765536',),
 ('tt6954524',),
 ('tt7052634',),
 ('tt10554898',),
 ('tt5677942',),
 ('tt3258050',),
 ('tt6905542',),
 ('tt7701694',),
 ('tt10850888',),
 ('tt4651448',),
 ('tt8714904',),
 ('tt6498116',),
 ('tt8523042',),
 ('tt7831512',),
 ('tt5308322',),
 ('tt5598520',),
 ('tt6611916',),
 ('tt4427230',),
 ('tt3080718',),
 ('tt7211930',),
 ('tt7146600',),
 ('tt1260520',),
 ('tt10732794',),
 ('tt2261227',),
 ('tt8750956',),
 ('tt4365542',),
 ('tt8595766',),
 ('tt8809646',),
 ('tt0392089',),
 ('tt5715150',),
 ('tt8139862',),
 ('tt0386676',),
 ('tt7435402',),
 ('tt6648926',),
 ('tt5057482',),
 ('tt5226192',),
 ('tt1586680',),
 ('tt8976346',),
 ('tt8858472',),
 ('tt9401936',),
 ('tt7701694',),
 ('tt0359719',),
 ('tt1739752',),
 ('tt4356698',),
 ('tt8398600',),
 ('tt4651448',),
 ('tt7818686',),
 ('tt6273088',),
 ('tt5308322',),
 ('tt3088036',),
 ('tt8931836',),
 ('tt8809646',),
 ('tt9011036',),
 ('tt6667268',),
 ('tt2403201',),
 ('tt4853764',),
 ('tt7137906',),
 ('tt2828240',),
 ('tt5715150',),
 ('tt1795096',),
 ('tt4959774',),
 ('tt7094780',),
 ('tt5332206',),
 ('tt7052634',),
 ('tt8017930',),
 ('tt0098936',),
 ('tt0459724',),
 ('tt7435402',),
 ('tt6565702',),
 ('tt3338098',),
 ('tt1739744',),
 ('tt9772698',),
 ('tt6763664',),
 ('tt1534360',),
 ('tt7433762',),
 ('tt5677942',),
 ('tt3213384',),
 ('tt4580372',),
 ('tt4240730',),
 ('tt5226192',),
 ('tt6667268',),
 ('tt10554898',),
 ('tt0098936',),
 ('tt6565702',),
 ('tt3338098',),
 ('tt6763664',),
 ('tt7433762',),
 ('tt7701694',),
 ('tt7211930',),
 ('tt7493974',),
 ('tt8929906',),
 ('tt3230780',),
 ('tt2261227',),
 ('tt2090465',),
 ('tt6568694',),
 ('tt5618256',),
 ('tt5197860',),
 ('tt6792200',),
 ('tt4864582',),
 ('tt9114376',),
 ('tt8376430',),
 ('tt1312171',),
 ('tt0052520',),
 ('tt10554898',),
 ('tt6565702',),
 ('tt3258050',),
 ('tt6905542',),
 ('tt8976346',),
 ('tt7701694',),
 ('tt0359719',),
 ('tt6498116',),
 ('tt4427230',),
 ('tt7099334',),
 ('tt6067752',),
 ('tt10732794',),
 ('tt2261227',),
 ('tt8750956',),
 ('tt2090465',),
 ('tt5018470',),
 ('tt1312171',),
 ('tt4327780',),
 ('tt0300512',),
 ('tt7514476',),
 ('tt8236556',),
 ('tt0203946',),
 ('tt3088036',),
 ('tt6667268',),
 ('tt0877057',),
 ('tt4959774',),
 ('tt5332206',),
 ('tt0098936',),
 ('tt6565702',),
 ('tt3338098',),
 ('tt6763664',),
 ('tt7433762',),
 ('tt6461346',),
 ('tt9398466',),
 ('tt4378376',),
 ('tt6497420',),
 ('tt8714904',),
 ('tt8523042',),
 ('tt7831512',),
 ('tt6611916',),
 ('tt8268094',),
 ('tt0877057',),
 ('tt6763664',),
 ('tt7211930',),
 ('tt7099334',),
 ('tt3230780',),
 ('tt1285482',),
 ('tt2909904',),
 ('tt5768840',),
 ('tt6660498',),
 ('tt4792792',),
 ('tt10875696',),
 ('tt1209393',),
 ('tt6038584',),
 ('tt7097358',),
 ('tt5462278',),
 ('tt5909930',),
 ('tt8479368',),
 ('tt6030702',),
 ('tt8295472',),
 ('tt8755226',),
 ('tt1764355',),
 ('tt7414954',),
 ('tt0322645',),
 ('tt1963848',),
 ('tt1639109',),
 ('tt1685407',),
 ('tt6912714',),
 ('tt8183792',),
 ('tt2622982',),
 ('tt1799631',),
 ('tt6660498',),
 ('tt10619444',),
 ('tt10106108',),
 ('tt1209393',),
 ('tt2632044',),
 ('tt1161656',),
 ('tt7944664',),
 ('tt7484994',),
 ('tt9552162',),
 ('tt5895314',),
 ('tt7897050',),
 ('tt3874528',),
 ('tt7211600',),
 ('tt5066664',),
 ('tt5240222',),
 ('tt2787558',),
 ('tt8699270',),
 ('tt3614286',),
 ('tt5820022',),
 ('tt4995806',),
 ('tt2777876',),
 ('tt4327780',),
 ('tt8834560',),
 ('tt8268994',),
 ('tt5295524',),
 ('tt1285482',),
 ('tt5581730',),
 ('tt4370528',),
 ('tt5232348',),
 ('tt8539056',),
 ('tt4483562',),
 ('tt5840122',),
 ('tt0052520',),
 ('tt0392089',),
 ('tt0098936',),
 ('tt4356698',),
 ('tt7211930',),
 ('tt1136825',),
 ('tt6527032',),
 ('tt4792792',),
 ('tt6030702',),
 ('tt7588054',),
 ('tt6497420',),
 ('tt8707436',),
 ('tt8714904',),
 ('tt1830379',),
 ('tt5308322',),
 ('tt5598520',),
 ('tt8268094',),
 ('tt6356086',),
 ('tt7493974',),
 ('tt1260520',),
 ('tt8929906',),
 ('tt1248976',),
 ('tt7899698',),
 ('tt6067752',),
 ('tt7768848',),
 ('tt2261227',),
 ('tt2090465',),
 ('tt6459472',),
 ('tt6568694',),
 ('tt7889220',),
 ('tt5761496',),
 ('tt5618256',),
 ('tt9253866',),
 ('tt9103932',),
 ('tt7651892',),
 ('tt1074194',),
 ('tt9642576',),
 ('tt8736278',),
 ('tt2069688',),
 ('tt8289930',),
 ('tt1877895',),
 ('tt6133034',),
 ('tt6587094',),
 ('tt7440274',),
 ('tt8074270',),
 ('tt6088326',),
 ('tt5907228',),
 ('tt2078263',),
 ('tt8194716',),
 ('tt5144776',),
 ('tt10681222',),
 ('tt4491456',),
 ('tt8200004',),
 ('tt5104604',),
 ('tt8595766',),
 ('tt11152058',),
 ('tt8931836',),
 ('tt8809646',),
 ('tt9011036',),
 ('tt6667268',),
 ('tt0877057',),
 ('tt2403201',),
 ('tt4853764',),
 ('tt2828240',),
 ('tt9103932',),
 ('tt2098220',),
 ('tt5715150',),
 ('tt4508902',),
 ('tt2560140',),
 ('tt1795096',),
 ('tt7094780',),
 ('tt9642576',),
 ('tt5332206',),
 ('tt7052634',),
 ('tt10554898',),
 ('tt0459724',),
 ('tt8736278',),
 ('tt6565702',),
 ('tt1739744',),
 ('tt9772698',),
 ('tt2069688',),
 ('tt1534360',),
 ('tt9557812',),
 ('tt6591468',),
 ('tt8115672',),
 ('tt8914012',),
 ('tt6865906',),
 ('tt9203064',),
 ('tt2080922',),
 ('tt7081512',),
 ('tt5016516',),
 ('tt5038900',),
 ('tt9332962',),
 ('tt10522374',),
 ('tt2644032',),
 ('tt10687134',),
 ('tt6865906',),
 ('tt7183310',),
 ('tt0120575',),
 ('tt0877057',),
 ('tt6763664',),
 ('tt7211930',),
 ('tt7099334',),
 ('tt3230780',),
 ('tt1285482',),
 ('tt2909904',),
 ('tt5768840',),
 ('tt6660498',),
 ('tt4792792',),
 ('tt10875696',),
 ('tt1209393',),
 ('tt6038584',),
 ('tt7097358',),
 ('tt5462278',),
 ('tt5909930',),
 ('tt8479368',),
 ('tt6030702',),
 ('tt8295472',),
 ('tt8755226',),
 ('tt1764355',),
 ('tt7414954',),
 ('tt3147968',),
 ('tt2286707',),
 ('tt6289552',),
 ('tt5768840',),
 ('tt10220476',),
 ('tt3810752',),
 ('tt8995604',),
 ('tt4741110',),
 ('tt1618442',),
 ('tt7094798',),
 ('tt5619332',),
 ('tt6032762',),
 ('tt8129694',),
 ('tt5994346',),
 ('tt10055734',),
 ('tt6125832',),
 ('tt1790762',),
 ('tt3228088',),
 ('tt5495784',),
 ('tt6352722',),
 ('tt5777628',),
 ('tt9537306',),
 ('tt6422226',),
 ('tt3247224',),
 ('tt8160064',),
 ('tt6175760',),
 ('tt3211128',),
 ('tt7801894',),
 ('tt9817288',),
 ('tt5993744',),
 ('tt8893566',),
 ('tt6609506',),
 ('tt6186672',),
 ('tt2510302',),
 ('tt10243628',),
 ('tt6358798',),
 ('tt8882486',),
 ('tt6048644',),
 ('tt2298963',),
 ('tt8477194',),
 ('tt7239268',),
 ('tt7239256',),
 ('tt8422396',),
 ('tt10044952',),
 ('tt8747342',),
 ('tt10406128',),
 ('tt1370334',),
 ('tt8791742',),
 ('tt4242904',),
 ('tt6055498',),
 ('tt1634208',),
 ('tt0387763',),
 ('tt10265158',),
 ('tt0391683',),
 ('tt3983112',),
 ('tt3530668',),
 ('tt3715634',),
 ('tt8001788',),
 ('tt10192576',),
 ('tt5232464',),
 ('tt3518272',),
 ('tt7514476',),
 ('tt10069398',),
 ('tt2249712',),
 ('tt3385484',),
 ('tt6357262',),
 ('tt6671178',),
 ('tt8236556',),
 ('tt5309758',),
 ('tt2806646',),
 ('tt5966882',),
 ('tt4765536',),
 ('tt6289504',),
 ('tt10826064',),
 ('tt3147968',),
 ('tt5056538',),
 ('tt10715172',),
 ('tt9327348',),
 ('tt10691888',),
 ('tt6164872',),
 ('tt5593998',),
 ('tt1705090',),
 ('tt9327242',),
 ('tt9641192',),
 ('tt5663544',),
 ('tt8987918',),
 ('tt6953646',),
 ('tt8027624',),
 ('tt6970700',),
 ('tt7183310',),
 ('tt9654086',),
 ('tt5235318',),
 ('tt0907286',),
 ('tt10986050',),
 ('tt5056538',),
 ('tt10715172',),
 ('tt9327348',),
 ('tt10691888',),
 ('tt6164872',),
 ('tt5593998',),
 ('tt1705090',),
 ('tt9327242',),
 ('tt9641192',),
 ('tt5663544',),
 ('tt8987918',),
 ('tt6953646',),
 ('tt8027624',),
 ('tt6970700',),
 ('tt7183310',),
 ('tt9654086',),
 ('tt5235318',),
 ('tt0907286',),
 ('tt10986050',),
 ('tt6473984',),
 ('tt10449632',),
 ('tt10691888',),
 ('tt8686106',),
 ('tt7971476',),
 ('tt7570990',),
 ('tt7078710',),
 ('tt8103070',),
 ('tt5993744',),
 ('tt2632646',),
 ('tt7931520',),
 ('tt8004628',),
 ('tt2657262',),
 ('tt8507402',),
 ('tt7097358',),
 ('tt8747882',),
 ('tt3874528',),
 ('tt0498772',),
 ('tt9654086',),
 ('tt8778064',),
 ('tt9134194',),
 ('tt9879778',),
 ('tt9486226',),
 ('tt8295472',),
 ('tt9057942',),
 ('tt8755226',),
 ('tt0414766',),
 ('tt8108180',),
 ('tt2381201',),
 ('tt8165086',),
 ('tt1312171',),
 ('tt3914520',),
 ('tt1757202',),
 ('tt4327780',),
 ('tt0300512',),
 ('tt9646882',),
 ('tt3974366',),
 ('tt0203946',),
 ('tt5966882',),
 ('tt8507498',),
 ('tt11010142',),
 ('tt6289552',),
 ('tt6865906',),
 ('tt9526152',),
 ('tt8069036',),
 ('tt1618442',),
 ('tt7320090',),
 ('tt8758778',),
 ('tt8665806',),
 ('tt6032762',),
 ('tt8893566',),
 ('tt7931520',),
 ('tt7622902',),
 ('tt4427230',),
 ('tt7767422',),
 ('tt4613520',),
 ('tt0224464',),
 ('tt8387348',),
 ('tt3501734',),
 ('tt6067752',),
 ('tt0202477',),
 ('tt2782216',),
 ('tt10472296',),
 ('tt2689614',),
 ('tt8064302',),
 ('tt5761496',),
 ('tt3614286',),
 ('tt1586680',),
 ('tt6461346',),
 ('tt6905542',),
 ('tt8976346',),
 ('tt9398466',),
 ('tt9401936',),
 ('tt10850888',),
 ('tt2187850',),
 ('tt7562112',),
 ('tt8059904',),
 ('tt1739752',),
 ('tt7909970',),
 ('tt8398600',),
 ('tt6205862',),
 ('tt4378376',),
 ('tt6497420',),
 ('tt3396114',),
 ('tt8707436',),
 ('tt7440274',),
 ('tt8714904',),
 ('tt6413302',),
 ('tt7087260',),
 ('tt1830379',),
 ('tt8523042',),
 ('tt7573686',),
 ('tt1757202',),
 ('tt10986056',),
 ('tt5580146',),
 ('tt7373774',),
 ('tt2909904',),
 ('tt8010342',),
 ('tt8773080',),
 ('tt4370528',),
 ('tt6473984',),
 ('tt7997942',),
 ('tt10691888',),
 ('tt8342862',),
 ('tt8824648',),
 ('tt4792792',),
 ('tt5699230',),
 ('tt7570990',),
 ('tt9348692',),
 ('tt5531470',),
 ('tt9641192',),
 ('tt6467482',),
 ('tt10875696',),
 ('tt6038584',),
 ('tt4976512',),
 ('tt5135336',),
 ('tt7660730',),
 ('tt8517780',),
 ('tt6649510',),
 ('tt5472542',),
 ('tt11010142',),
 ('tt6473984',),
 ('tt6803712',),
 ('tt4792792',),
 ('tt7570990',),
 ('tt6850276',),
 ('tt5531470',),
 ('tt8103070',),
 ('tt9269852',),
 ('tt8665806',),
 ('tt9516224',),
 ('tt8066214',),
 ('tt2657262',),
 ('tt7532576',),
 ('tt5232792',),
 ('tt8507402',),
 ('tt7826108',),
 ('tt5462278',),
 ('tt0498772',),
 ('tt5022298',),
 ('tt10022384',),
 ('tt7431768',),
 ('tt7211930',),
 ('tt6356086',),
 ('tt7099334',),
 ('tt7493974',),
 ('tt8929906',),
 ('tt3230780',),
 ('tt2261227',),
 ('tt2090465',),
 ('tt6568694',),
 ('tt5618256',),
 ('tt4591834',),
 ('tt5197860',),
 ('tt6792200',),
 ('tt5018470',),
 ('tt4864582',),
 ('tt7042146',),
 ('tt9114376',),
 ('tt8376430',),
 ('tt7263154',),
 ('tt3914520',),
 ('tt7573686',),
 ('tt1757202',),
 ('tt3834000',),
 ('tt0421357',),
 ('tt5443130',),
 ('tt7433762',),
 ('tt5677942',),
 ('tt4580372',),
 ('tt4240730',),
 ('tt0112159',),
 ('tt5226192',),
 ('tt6461346',),
 ('tt3895150',),
 ('tt8976346',),
 ('tt9398466',),
 ('tt9401936',),
 ('tt7701694',),
 ('tt10850888',),
 ('tt2187850',),
 ('tt8059904',),
 ('tt10971532',),
 ('tt1739752',),
 ('tt4356698',),
 ('tt8398600',),
 ('tt4378376',),
 ('tt6497420',),
 ('tt7818686',),
 ('tt2359704',),
 ('tt8707436',),
 ('tt5514632',),
 ('tt7804134',),
 ('tt6413302',),
 ('tt1830379',),
 ('tt8523042',),
 ('tt7078180',),
 ('tt6273088',),
 ('tt6516076',),
 ('tt4481220',),
 ('tt7831512',),
 ('tt0948103',),
 ('tt6611916',),
 ('tt2078263',),
 ('tt8194716',),
 ('tt7622902',),
 ('tt1773185',),
 ('tt6304676',),
 ('tt7767422',),
 ('tt3080718',),
 ('tt4613520',),
 ('tt6356086',),
 ('tt7146600',),
 ('tt7099334',),
 ('tt1913273',),
 ('tt5858812',),
 ('tt7493974',),
 ('tt10383456',),
 ('tt1260520',),
 ('tt8929906',),
 ('tt7899698',),
 ('tt6158540',),
 ('tt5049938',),
 ('tt8690890',),
 ('tt0202477',),
 ('tt1160524',),
 ('tt2782216',),
 ('tt3174114',),
 ('tt8078816',),
 ('tt10472296',),
 ('tt8914684',),
 ('tt10732794',),
 ('tt3230780',),
 ('tt9089294',),
 ('tt5725908',),
 ('tt8062474',),
 ('tt8750956',),
 ('tt2090465',),
 ('tt1105263',),
 ('tt8963328',),
 ('tt6937876',),
 ('tt4799574',),
 ('tt7278166',),
 ('tt9130542',),
 ('tt9165404',),
 ('tt1370334',),
 ('tt4995806',),
 ('tt1136825',),
 ('tt9184994',),
 ('tt7168712',),
 ('tt6474378',),
 ('tt9535158',),
 ('tt3715634',),
 ('tt1595198',),
 ('tt7520794',),
 ('tt8894324',),
 ('tt7245978',),
 ('tt2183880',),
 ('tt6516076',),
 ('tt7831512',),
 ...]

In [147]:
total_reviews =0

In [220]:
total_var = []
counter = 0
counter_err = 0

for i in range(len(shows_id)):
    try:
        new_url = "https://www.imdb.com/title/" + shows_id[i][0]+ "/ratings?ref_=tt_ov_rt"
        page = requests.get(new_url, headers = headers)
        soup = bs(page.content, 'lxml')
        show_id = shows_id[i][0]
        
        #getting total ratings
        table1 = soup.find_all('div', class_='smallcell')
        total_reviews = table1[0].get_text().split("\n")[2].strip()
        #getting the segmented ratings
        table = soup.find_all('div', class_='bigcell')

        ratings_num =[]
        ratings = []
        for i in range(len(table)-3):
            ratings.append(table[i].get_text())
        ratings.insert(0,total_reviews)    
        for i in range(len(ratings)):
            try:
                ratings_num.append(locale.atof(ratings[i]))
            except:
                ratings_num.append(None)
                continue
        ratings_num.insert(0, show_id)        
        rating_tuple = tuple(ratings_num)  

        total_var.append(rating_tuple)
    except:
        counter_err +=1
        continue
    cursor.execute("""INSERT INTO RATINGS 
            (show_id, total_reviews, all_all_ages, all_less_than_18, all_18_29, all_30_44, all_older_than_45,
            male_All_Ages, male_less_than_18, male_18_29, male_30_44, male_older_than_45,
            female_All_Ages, female_less_than_18, female_18_29, female_30_44,female_older_than_45) 
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rating_tuple)
    cnx.commit()
    time.sleep(.3)

IntegrityError: 1062 (23000): Duplicate entry 'tt4356698' for key 'PRIMARY'

In [20]:
    counter_err

645

In [22]:
len(total_var)

0